{{ if .Params.Comments }}{{ if .Site.Params.utterances.repo }}{{ partial "comments.html" . }}{{ end }}{{ end }}
<div id="footer" class="mb-5">
    <hr>
    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
        {{ $social_len := (len .Site.Params.socialIcons) }}
        {{ range $social_idx, $item := .Site.Params.socialIcons }}
        <a {{ if .rel }}rel="{{ $item.rel }}"{{ end }}{{ if .blank }}target="_blank"{{ end }} href="{{ $item.url }}" class="{{ $item.icon }} fa-1x"
            title="{{ $item.title }}"></a>
        {{ if eq (add $social_idx 1) $social_len }}
        {{ else }}
        <span class="nav-item navbar-text mx-0">/</span>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
    <div class="container text-center">
        <a href="{{ .url | absURL }}" title="{{ .text }}" {{ if .blank }}target="_blank"{{ end }}><small>{{ .text }}</small></a>
    </div>
    {{ end }}
</div>
{{ if .Params.mathjax }}{{ partial "mathjax.html" . }}{{ end }}
{{ if .Params.katex }}{{ partial "katex.html" . }}{{ end }}
